<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.service"/>

    <bean id="seatServiceImpl" class="com.service.SeatServiceImpl">
        <property name="seatMapper" ref="seatMapper"/>
    </bean>

    <bean id="seatOrderServiceImpl" class="com.service.SeatOrderServiceImpl">
        <property name="seatOrderMapper" ref="seatOrderMapper"/>
    </bean>
    <bean id="userServiceImpl" class="com.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
    <bean id="userInLibServiceImpl" class="com.service.UserInLibServiceImpl">
        <property name="userInLibMapper" ref="userInLibMapper"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>